In [8]:
print(1 + 1) 
print (2 + 2)

2
4

In [44]:
print (1+0, end='')
print (2+0, end='')
print (3+0)

123

In [12]:
print ("Hello" + (' Goodbye'))

Hello Goodbye

In [48]:
print ( ('Hello') + ( ' Goodbye') )

Hello Goodbye

In [14]:
print ( 'Hi', 100)

Hi 100

In [51]:
print ('Hi' ,  100 )

Hi 100

In [17]:
print (100, 10, 'Python', 100 < 200, sep='-')

100-10-Python-True

In [66]:
print ('Hello', "my name is EDEN", sep= ', ')

Hello, my name is EDEN

In [61]:
print (1) 
print (2) 
print (3)

1
2
3

In [20]:
print (1,end='')
print (2,end='')
print (3)

123

In [68]:
print ('Hello', end='')
print (', My name is EDEN')

Hello, My name is EDEN

In [32]:
print ('This is a row \t  This is another row')

This is a row 	  This is another row

In [34]:
print ('I can\'t print this')

I can't print this

In [72]:
print ('This is my name\nmy name is Eden')

This is my name
my name is Eden

In [77]:
print ('My name\'s dog is BOSS\nmy dog\'s name is BOSS')

My name's dog is BOSS
my dog's name is BOSS

In [86]:
print ('My name is Eden\t Eden is my name')

My name is Eden	 Eden is my name

In [88]:
print ("I can\'t print this")

I can't print this